body {
  padding: 0;
  margin: 0;
  background-color: #8fbc8f;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.form_01 {
  margin-top: 7rem;
  margin-left: 26rem;
  margin-right: 26rem;
  padding: 1rem 1rem 1rem 1rem;
  border: 2px solid #3cb371;
  border-radius: 10px;
  background-color: #3cb371;
  box-shadow: 10px 6px 6px black;
}
h1 {
  text-align: center;
  box-shadow: 10px 6px 6px black;
  border: #3cb371;
  border-radius: 10px;
}
input {
  padding: 0.5rem 10rem 0.5rem 10rem;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-top: 0.2rem;
}
select {
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 0.2rem 2rem 0.2rem 2rem;
}
button {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 1rem;
  width: 5rem;
  height: 2.5rem;
  background-color: #006400;
  border: 2px solid #006400;
  border-radius: 10px;
  transition-duration: 1.5s;
  cursor: grab;
}
button {
  margin-left: 13rem;
}
button:hover {
  background-color: #3cb371;
  color: #ffffff;
  border: #ffffff;
  box-shadow: 10px 6px 6px black;
}
